.PremTrend{
    color: navy;
	background-color: red
  }
  
  .PremTrend :global(.ant-card-head) {
    border-bottom: 0px;
  }
  
  .PremTrend table {
    border-collapse: collapse;
  }
  
  .PremTrend :global(.ant-table-thead) {
    border-bottom: 1px solid rgb(128, 128, 128);
  	height :150px;
  }  
	.PremTrend :global(.ant-radio-group) {
  	background-color: #F15246;
  }
	.PremTrend :global(.ant-table-thead) {
    border-bottom: 1px solid rgb(128, 128, 128);
	height :150px;
  }
  
  
  .PremTrend :global(.ant-table-thead) > tr > th {
    background: #f46e65;
    font-weight: bold;
    color:#fff;
  }
  
  
  .PremTrend :global(.ant-table-tbody) >tr:nth-of-type(odd) {
    background-color:#f5f5f5
  }
  
  
  
  .PremTrend :global(.ant-alert-info) {
      background-color:  #f5f5f5;
      border-width: 1px;
      border-style: solid;
      border-color: #e9e9e9;
      border-image: initial;
  }  
  .dwmy :global(.ant-radio-button-wrapper-checked) {
      background-color:  #F15246;
	  color: #fff;
  }  
.dwmy :global(.ant-radio-button-wrapper-checked:first-child) {
	  border-color: #F15246;
  }
/*修改日月周年样式的代码*/
.dwmy {
	width: 5.62rem;
	border-radius: 3px;
	border: 2px solid #F15246;
	background-color: #F15246;
}
.dwmy label {
	font-size: .16rem;
	width: 25%;
	float: left;
	text-align: center;
	border:none;
	color:#F15246;
}
.dwmy :global(.ant-radio-group) {
	background-color: #F15246;
}
.TableSelect :global(.ant-radio-group) {
	background-color: #F15246;
}
.TableSelect :global(.ant-radio-group-small) {
	background-color: #F15246;
}